<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>登入</title>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1>登入</h1>
      </div>
      <div class="body">
        <form action="/account/login" method="post">
          <label for="">用戶名</label><input type="text" name="username" id="username"><br>
          <label for="">密碼</label><input type="text" name="password" id="password">
          <div class="hr"></div>
          <button type="submit">登入</button>
        </form>
      </div>
    </div>
  </body>
</html>