<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/new/layout.css">
        <link rel="stylesheet" href="/css/new/reg.css">
        <title>Document</title>
    </head>
    <body>
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <a href="/food/home"><img src="/images/logo_w@svg.svg"/></a>
                    <ul>
                        <li><a href="/food/home">首頁</a></li>
                        <li><a href="/food/cartDesktop">訂餐</a></li>
                    </ul>
                    <div class="menu">
                        <img src="/images/menu-svgrepo-com.svg"/>
                    </div>
                </div>
                <div class="text">
                    <h1><span>咬一口</span>就無法忘懷的漢堡</h1>
                    <p>
                        七夕絕對無法錯過的好滋味<br/>
                        六角大漢堡
                    </p>
                </div>
            </div>
            
            <div class="content">
                <img src="/images/logo_l.svg"/>
                <h2>享受美食好味道</h2>
                <div class="reg">
                    <h2><%= status %></h2>
                    <form action=<%= status == '登入' ? "/account/login" : "/account/reg" %> method="post">
                        <label for="username">用戶名*</label><input type="text" name="username" id="username"><br/>
                        <label for="password">密碼*</label><input type="password" name="password" id="password"><br/>
                        <% if(status == '註冊') { %>
                            <label for="password">密碼確認*</label><input type="password" name="passwordCheck" id="password"><br/>
                            <a href="/account/login">已有會員</a>
                        <% } %>
                        <div class="btn">
                            <% if(status == '登入') { %>
                                <a href="/account/reg">註冊</a>
                            <% } %>
                            <button type="submit"><%= status %></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="footer">
                <div class="describe">
                    <div class="about">
                        <h2>關於 六角西餐廳</h2>
                        <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. </p>
                    </div>
                    <div class="connect">
                        <h2>聯絡方式</h2>
                        <ul>
                            <li>高雄市中正五路到底</li>
                            <li>+886 886 886</li>
                            <li>service@hexschool.com</li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <img src="/images/logo_l@svg.svg"/>
                    <ul>
                        <li><a href="#"><img src="/images/google-plus-logo-svgrepo-com.svg"/></a></li>
                        <li><a href="#"><img src="/images/twitter-svgrepo-com.svg"/></a></li>
                        <li><a href="#"><img src="/images/facebook-color-svgrepo-com.svg"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>